:root {
  --max-width: 1140px;
  --max-card-width: 540px;
  --border-radius: 6px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-color: #DCCFCF;
  --foreground-color: #E1DDDD;
  --text-color: #000;
  --background-against-text-color: #fff;
  --primary-color: #fc5c41;
  --primary-color-interacted: #fc5c41;
  --text-against-primary: #000;
  --interactive-color: #23c1e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

a {
  color: var(--interactive-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input {
  font-size: 1.125em;
  padding: .5em;
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: var(--background-against-text-color);
}

button, 
.button {
  cursor: pointer;
  padding: .5em;
  border-radius: var(--border-radius);
}

button:hover,
.button:hover  {
  filter: brightness(85%);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--text-against-primary);
  font-size: 1.25rem;
}

.card {
  width: 100%;
  max-width: var(--max-card-width);
  border: 1px solid var(--text-color);
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--foreground-color);
  box-shadow: 2px 3px 4px 2px var(--text-color);
  padding: 2.5rem;
  text-align: center;
}

.card h1 {
  font-size: 2em;
}