:root {
  --max-width: 1140px;
  --max-card-width: 540px;
  --border-radius: 6px;

  --background-color: #DCCFCF;
  --foreground-color: #E1DDDD;
  --text-color: #000;
  --background-against-text-color: #fff;
  --primary-color: #fc5c41;
  --primary-color-interacted: #fc5c41;
  --text-against-primary: #000;
  --interactive-color: #23c1e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

a {
  color: var(--interactive-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  main {
    padding: .5rem;
    justify-content: center;
  }
}